<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head th:include="include/admin/adminHeader::html"></head>
<!--编辑器插件-->
<link rel="stylesheet" href="editormd/css/editormd.css"/>
<script src="editormd/editormd.min.js"></script>
<script>
    $(function () {
        var id = getUrlParms("id");
        var data4Vue = {
            uri: 'contents',
            categories: [],
            tags: [],
            //将要提交的
            content: {},
            category: { "id": null,
                "name": "",
                "description": null,
                "count": 0,
                "status": null},
            tag: [],
            flag:''
        };

        var vue = new Vue({
            el: '#workArea',
            data: data4Vue,

            mounted: function () {
                this.getTags();
                this.getCategories();
                this.getContent();
                this.getTagsByContent();
            },
            methods: {
                //获取已选的tags
                getTagsByContent: function () {
                    var url = this.uri+'/'+id+'/tags';
                    axios.get(url).then(function (response) {
                        vue.tag=response.data;
                    })
                },
                getContent: function () {
                    var url = this.uri + '/' + id;
                    axios.get(url).then(function (response) {
                        vue.content = response.data;
                        vue.category.id = response.data.category.id;
                        vue.category.name = response.data.category.name;

                        vue.$nextTick(function () {
                            var editor = editormd("test-editor", {
                                width: "100%",
                                height: "600px",
                                // theme : "dark",
                                // previewTheme : "dark",
                                // editorTheme : "pastel-on-dark",
                                emoji: true,
                                saveHTMLToTextarea: true, // 保存 HTML 到 Textarea
                                imageUpload: true,
                                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL: "/file/uploadImage",
                                htmlDecode: "style,script,iframe,sub,sup|on*",
                                path: "editormd/lib/"
                            });
                        })
                    })
                },
                getCategories: function () {
                    var status = 'saved'
                    var url = "categories/findIdName/" + status;
                    axios.get(url).then(function (response) {
                        vue.categories = response.data;
                        // vue.category = vue.categories[0];
                    })
                },
                getTags: function () {
                    var status = 'saved'
                    var url = "tags/findIdName/" + status;
                    axios.get(url).then(function (response) {
                        vue.tags = response.data;
                    })
                },
                publishContent: function () {
                    this.flag='published';
                    var url = this.uri;
                    var text = $('.editormd-markdown-textarea').val();
                    this.content.text = text;
                    axios.put(url, {
                        content: this.content,
                        category: this.category.id,
                        tag: this.tag,
                        flag:this.flag
                    }).then(function (response) {
                        if (response.data.code == 0) {
                            alert("发布成功")
                            location.href = '/admin_content_list'
                        }
                    })
                },
                saveContent: function () {
                    this.flag='draft';
                    var url = this.uri;
                    var text = $('.editormd-markdown-textarea').val();
                    this.content.text = text;
                    axios.put(url, {
                        content: this.content,
                        category: this.category.id,
                        tag: this.tag,
                        flag:this.flag
                    }).then(function (response) {
                        if (response.data.code == 0) {
                            alert("保存成功")
                            location.href = '/admin_content_list'
                        }
                    })
                }
            }
        });
    })
</script>

<body class="hold-transition sidebar-mini">
<div id="workArea">
    <div class="wrapper">
        <!--顶部导航条-->
        <div th:replace="include/admin/adminNav::html"></div>

        <!--左边菜单-->
        <div th:replace="include/admin/adminAside-left::html"></div>


        <!--内容区-->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"><a href="/admin_content_list">博客文章</a> > 编辑博客</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Starter Page</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">

                <div id="test-editor">
                    <textarea style="display:none;">{{content.text}}</textarea>
                </div>

                <div class="row">
                    <!--左列-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>标题</label>
                            <input type="text" class="form-control" placeholder="Enter ..."
                                   v-model.trim="content.title">
                        </div>
                        <div class="form-group">
                            <label>摘要</label>
                            <textarea class="form-control" rows="3" placeholder="Enter ..."
                                      v-model.trim="content.articleAbstract"></textarea>
                        </div>
                    </div>
                    <!--右列-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>密码</label>
                                    <input type="text" class="form-control" placeholder="Enter ..."
                                           v-model.trim="content.password">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>评论</label>
                                    <select class="form-control" v-model="content.allowComment">
                                        <option value="allow">允许</option>
                                        <option value="forbid">禁止</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>展示图片链接</label>
                            <input type="text" class="form-control" placeholder="Enter ..."
                                   v-model.trim="content.firstImg">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--左列-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>选择标签</label>
                            <div class="form-check">
                                <label class="form-check-label" v-for="oneTag in tags"
                                       style="width: 15%;marginRight:10%;">
                                    <input class="form-check-input" type="checkbox" :value="oneTag.id" v-model="tag">
                                    {{oneTag.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--右列-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>选择分类</label>
                            <select class="form-control" v-model="category">
                                <option v-for="category in categories" :value="category">{{category.name}}</option>
                            </select>
                        </div>
                        <button class="btn btn-warning" @Click="saveContent">保存为草稿</button>
                        <button class="btn btn-success pull-right" @Click="publishContent">直接发布</button>
                    </div>
                </div>

                <div style="textAlign: center">
                    <img style="maxWidth: 100%" :src="content.firstImg"/>
                </div>

            </div>


            <!-- /.content -->
        </div>


        <!--右边菜单-->
        <div th:replace="include/admin/adminAside-right::html"></div>
        <!--页脚-->
        <div th:replace="include/admin/adminFooter::html"></div>
    </div>

    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
</div>
</body>

</html>