<!-- 背景容器 -->
<div class="bg" th:fragment="html">

    <div id="detail-content">


        <!-- 首页中间文章 -->
        <div class="article-wrapper">
            <div class="content-left yh-translucent-wrapper">
                <!-- 文章信息栏 -->
                <div class="info">
                    <div>
                        <a href="/">
                            <img :src="user.profilePicture">
                        </a>
                        <h3>{{bean.title}}</h3>
                    </div>
                    <p>
                        时间：{{bean.modified | formatDateFilter}}<span>|</span>
                        分类：{{category.name}}
                    </p>
                </div>
                <!-- editor.md -->
                <div id="test-editormd-view">
                    <textarea id="markdownView" style="display:none;">{{bean.text}}</textarea>
                </div>



            </div>

            <div class="yh-translucent-wrapper" aos="fade-right">
                <!--评论-->
                <div id="articleComment"></div>
                <!--分页-->
                <div v-if="pagination.numberOfElements != 0">
                    <div th:replace="include/fore/forePage::html"></div>
                </div>
            </div>


        </div>

        <!-- 首页右边导航 -->
        <div th:replace="include/fore/rightMenu::html"></div>

    </div>
    <!-- ------------------------------------------------------------------------------------------------------------------------------- -->



</div>