<div id="pageDiv" th:fragment="html">
    <nav>
        <ul class="pagination">
            <li :class="{ disabled: pagination.first }">
                <a  href="#nowhere" @click="jump('first')">«</a>
            </li>
            <li :class="{ disabled: !pagination.hasPrevious }">
                <a  href="#nowhere" @click="jump('pre')">‹</a>
            </li>

            <li  v-for="i in pagination.navigatepageNums" :class="{ disabled: pagination.number+1==i}"  >
                <a href="#nowhere" @click="jumpByNumber(i-1)" :class="{disabledNav: pagination.number+1==i}">
                    {{i}}
                </a>
            </li>

            <li :class="{ disabled: !pagination.hasNext }">
                <a  href="#nowhere" @click="jump('next')">›</a>
            </li>
            <li :class="{ disabled: pagination.last }">
                <a  href="#nowhere" @click="jump('last')"> »</a>
            </li>
        </ul>
    </nav>
</div>