<template th:fragment="html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <!-- 引入vue.js -->
    <script src="https://lib.baomitu.com/vue/2.5.16/vue.min.js"></script>
    <!-- <script src="../static/js/vue.js"></script> -->
    <!-- 引入axios -->
    <script src="static/js/axios.min.js"></script>
    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <!-- 懒加载 -->
    <script src="static/js/vue-lazyload.js"></script>

    <!-- 重置样式 -->
    <link rel="stylesheet" href="static/css/reset.css">

    <!-- 背景动画   -->
    <script src="static/js/bubbly-bg.js"></script>

    <!-- aos样式 -->
    <link rel="stylesheet" href="static/aos/dist/aos.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/css/base/base.css">

    <link rel="stylesheet" href="static/css/ui/yuzu-hard-ui.css">

    <script src="static/js/base/base.js"></script>

    <!-- 日期格式化-->
    <script src="static/js/moment.js"></script>

    <!--左上角的小图标-->
    <link rel="shortcut icon" href="img/芳乃icon.png">


    <!--l2d-->
    <link rel="stylesheet" type="text/css" href="assets/waifu.css?v=1.4.2"/>
    <!-- 实现拖动效果，需引入 JQuery UI -->
    <script src="assets/jquery-ui.min.js?v=1.12.1"></script>

    <!--评论-->
    <link rel="stylesheet" href="css/semantic.css" type="text/css" />
    <link rel="stylesheet" href="css/zyComment.css" type="text/css" />
    <script type="text/javascript" src="js/zyComment.js"></script>

    <link rel="stylesheet" href="css/fore/style.css" type="text/css" />
    <script>

        //判断是否为空
        function checkEmpty(value, text) {

            if (null == value || value.length == 0) {
                alert(text + "不能为空");
                return false;
            }
            return true;
        }

        //日期格式化
        Vue.filter('formatDateFilter', function (value, formatString) {
            if (null == value)
                return "";
            formatString = formatString || 'YYYY-MM-DD HH:mm:ss';
            return moment(value).format(formatString);
        });

        //获取地址栏参数的函数
        function getUrlParms(para) {
            var search = location.search; //页面URL的查询部分字符串
            var arrPara = new Array(); //参数数组。数组单项为包含参数名和参数值的字符串，如“para=value”
            var arrVal = new Array(); //参数值数组。用于存储查找到的参数值

            if (search != "") {
                var index = 0;
                search = search.substr(1); //去除开头的“?”
                arrPara = search.split("&");

                for (i in arrPara) {
                    var paraPre = para + "="; //参数前缀。即参数名+“=”，如“para=”
                    if (arrPara[i].indexOf(paraPre) == 0 && paraPre.length < arrPara[i].length) {
                        arrVal[index] = decodeURI(arrPara[i].substr(paraPre.length)); //顺带URI解码避免出现乱码
                        index++;
                    }
                }
            }

            if (arrVal.length == 1) {
                return arrVal[0];
            } else if (arrVal.length == 0) {
                return null;
            } else {
                return arrVal;
            }
        }

        //跳转函数
        function jump(page, vue) {
            if ('first' == page && !vue.pagination.first)
                vue.list(0);

            else if ('pre' == page && vue.pagination.hasPrevious)
                vue.list(vue.pagination.number - 1);

            else if ('next' == page && vue.pagination.hasNext)
                vue.list(vue.pagination.number + 1);

            else if ('last' == page && !vue.pagination.last)
                vue.list(vue.pagination.totalPages - 1);
        }

        //跳转函数
        function jumpByNumber(start, vue) {
            if (start != vue.pagination.number)
                vue.list(start);
        }
    </script>


    <!--修改模态框-->
    <style type="text/css">
        .modal-dialog{
            top:200px;
        }
        .modal-content{
            background-color: rgba(0,0,0,0);
        }

        /*去掉屏幕抖动*/
        body { padding-right: 0px !important; }
        .modal-open { overflow-y: auto !important; padding-right: 0 !important;}
    </style>


</template>