<!-- 背景容器 -->
<div class="bg" th:fragment="html" v-lazy-container="{ selector: 'img' }">

    <div id="detail-content">

        <!-- 首页中间文章 -->
        <div class="article-wrapper">
            <div class="content-left">

                <h3>
                    分类：<span>{{categoryName}}</span>
                </h3>
                <article aos="flip-left" aos-once="true" v-for="bean in beans">
                    <!-- 图片 -->
                    <div class="post-thumb">
                        <a :href='"/detail?id="+bean.content.id' >
                            <img :data-src="bean.content.firstImg"  class="lazyload">
                        </a>
                    </div>
                    <!-- 文章 -->
                    <div class="post-content-wrapper">
                        <div class="post-content">
                            <!-- 时间 -->
                            <div class="post-date">
                                发布于 {{bean.content.modified | formatDateFilter}}
                            </div>
                            <!-- 标题 -->
                            <a :href='"/detail?id="+bean.content.id'>
                                <h3>{{bean.content.title}}</h3>
                            </a>
                            <!-- 标签 -->
                            <div class="post-meta">
                                <span>-- 热度</span>
                                <span v-for="tag in bean.tags"><a href="#nowhere">{{tag.tagName}}</a></span>
                            </div>
                            <!-- 内容 -->
                            <div class="content">
                                <p>{{bean.content.articleAbstract}}</p>
                            </div>
                        </div>
                    </div>
                </article>

                <!--分页-->
                <div th:replace="include/fore/forePage::html"></div>

            </div>
        </div>




        <!-- 首页右边导航 -->
        <div th:replace="include/fore/rightMenu::html"></div>



    </div>
    <!-- ------------------------------------------------------------------------------------------------------------------------------- -->



</div>