<!-- 背景容器 -->
<div class="bg" th:fragment="html" >

    <div id="detail-content">

        <!-- 首页中间文章 -->
        <div class="article-wrapper" v-lazy-container="{ selector: 'img' }">
            <div class="content-left">

                <h3 class="yh-translucent-wrapper" aos="zoom-in">
                    标签：<span>{{tagName}}</span>
                </h3>
                <article class="yh-translucent-article" aos="flip-up"  v-for="bean in beans">
                    <!-- 标题 -->
                    <h3 class="yh-lighting-title">
                        <a :href='"/detail?id="+bean.content.id'>
                        <span>
                            {{bean.content.title}}
                        </span>
                        </a>
                    </h3>
                    <!-- 标签 -->
                    <div class="yh-thumb-tag">
                        <span><i class="fa fa-calendar"></i>&nbsp;{{bean.content.modified | formatDateFilter}}</span>
                        <span><i class="fa fa-eye"></i>&nbsp;--</span>
                        <span v-for="tag in bean.tags"><a :href="'/indexByTag?tid='+tag.tagId"><i class="fa fa-tag"></i>&nbsp;{{tag.tagName}}</a></span>
                    </div>
                    <!-- 图片 -->
                    <div class="yh-pic">
                        <a :href='"/detail?id="+bean.content.id'>
                            <img :data-src="bean.content.firstImg" class="lazyload">
                            <div class="hidden-xs">
                                <p>{{bean.content.articleAbstract}}</p>
                            </div>
                        </a>
                    </div>
                    <!-- 内容 -->
                    <div class="yh-content visible-xs">
                        <p>{{bean.content.articleAbstract}}</p>
                    </div>
                </article>
            </div>

            <div class="yh-translucent-wrapper" v-if="pagination.numberOfElements != 0" aos="fade-right">
                <!--分页-->
                <div th:replace="include/fore/forePage::html"></div>
            </div>
        </div>




        <!-- 首页右边导航 -->
        <div th:replace="include/fore/rightMenu::html"></div>



    </div>
    <!-- ------------------------------------------------------------------------------------------------------------------------------- -->



</div>