<div class="menu-wrapper" th:fragment="html">
    <ul class="menu-right">
        <li>
            <ul class="category">
                <h3>分类</h3>
                <li v-for="category in categories"><a :href="'/indexByCategory?cgid='+category.id">{{category.name}}</a></li>
            </ul>
        </li>

        <li>
            <ul class="tag">
                <h3>标签</h3>
                <li v-for="tag in tags"><a href="#nowhere">{{tag.name}}</a></li>
            </ul>
        </li>

    </ul>
</div>