<nav class="top-bar scroll-top" th:fragment="html">
    <a class="logo" href="#nowhere"><img src="" alt="logo"></a>

    <ul class="right-wrapper">
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
        <li><a href="#nowhere">test</a></li>
    </ul>
</nav>