<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:include="include/fore/header::html" ></head>
 <title>芳乃老公的博客</title>
 <link rel="stylesheet" href="static/css/home/home.css">
 <script>

     $(function () {
         // 懒加载
         Vue.use(VueLazyload, {
             preLoad: 1.3,
             error: '',
             loading: '',
             attempt: 1
         })

         var data4Vue = {
             user:[],
             beans: [],
         };

         //ViewModel
         var vue = new Vue({
             el: '#workArea',
             data: data4Vue,
             mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                 this.getUser();
                 this.list();
                 this.$nextTick(function () {
                     // 添加事件监听
                     base();//事件绑定
                     AOS.init({
                         easing: 'ease-out-back',
                         duration: 1000
                     });
                 })
             },
             methods: {
                 getUser: function(){
                     var url =  'user';
                     axios.get(url).then(function(response){
                         vue.user = response.data;
                     })
                 },
                 list: function () {
                     var url = "fore/contents";
                     axios.get(url).then(function (response) {
                         vue.beans = response.data;

                         vue.$nextTick(function(){
                             AOS.init({
                                 easing: 'ease-out-back',
                                 duration: 1000
                             });

                         })
                     });
                 },
             },
         });





     })

 </script>
<body>
<div id="workArea">
    <div th:replace="include/fore/top-bar::html" ></div>
    <div th:replace="include/fore/home/homePage::html" ></div>
    <div th:replace="include/fore/footer::html" ></div>
</div>
<!-- aos动画开始 -->
<script src="static/aos/js/highlight.min.js"></script>
<script src="static/aos/dist/aos.js"></script>
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });
</script>
<!-- aos动画结束 -->

<div class="waifu" style="z-index: 999">
    <div class="waifu-tips"></div>
    <canvas id="live2d" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <span class="fui-eye"></span>
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <span class="fui-info-circle"></span>
        <span class="fui-cross"></span>
    </div>
</div>

<script src="assets/waifu-tips.js?v=1.4.2"></script>
<script src="assets/live2d.js?v=1.0.5"></script>
<script type="text/javascript">
    /* 可直接修改部分参数 */
    live2d_settings['modelId'] = 3;                  // 默认模型 ID
    live2d_settings['modelTexturesId'] = 10;         // 默认材质 ID
    live2d_settings['modelStorage'] = true;         // 储存模型 ID

    /* 在 initModel 前添加 */
    initModel("assets/waifu-tips.json?v=1.4.2")
</script>
</body>

</html>