<!-- 首页顶部大图片容器 -->
<div  th:fragment="html" v-lazy-container="{ selector: 'img' }">
    <!-- 首页顶部大图片容器 -->
    <div class="head-content-container">

        <!-- 头像，个签，联系方式 -->
        <div class="content-wrapper hidden-xs">
            <div class="content">
                <!-- 头像 -->
                <div class="head-img">
                    <a href="https://www.baidu.com/s?wd=%E6%9C%9D%E6%AD%A6%E8%8A%B3%E4%B9%83%E5%A4%A9%E4%B8%8B%E7%AC%AC%E4%B8%80&rsv_spt=1&rsv_iqid=0x88e85fb900119ebb&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&tn=baiduhome_pg&rsv_enter=1&rsv_dl=tb&rsv_sug3=25&rsv_sug1=16&rsv_sug7=101&rsv_sug2=0&rsv_btype=i&inputT=7942&rsv_sug4=7942">
                        <img :data-src="user.profilePicture" alt="头像">
                    </a>
                </div>
                <!-- 个签 -->
                <div class="head-info">
                    <p>{{user.signature}}</p>
                    <!-- <p>rurudo是神</p> -->
                </div>
                <!-- 联系方式 -->
                <div class="link-wrapper">
                    <ul class="link">
                        <li><a href="#nowhere"><img data-src="img/qq.png" alt=""></a></li>
                        <li><a href="#nowhere"><img data-src="img/wechat.png" alt=""></a></li>
                        <li><a href="#nowhere"><img data-src="img/email.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 背景图片 -->
        <!-- 移动 -->
        <div class="m-video-container visible-xs">
            <div class="m-bg-img"></div>
        </div>
        <!-- pc -->
        <div class="video-container hidden-xs">
            <div class="bg-img" id="div1" :style="beans.key"></div>
        </div>



        <!-- 移动端下面的圆弧 -->
        <!-- <div class="circle visible-xs">

    </div> -->
    </div>


    <canvas id="background" class="background-home-absolute"></canvas>

    <!-- ------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- 首页中间文章 -->
    <div class="article-wrapper">
        <div id="content" class="home-content">

            <h3>
                <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;&nbsp;最近更新
            </h3>

            <article aos="fade-up" aos-once="true" v-for="bean in beans">
                <!-- 图片 -->
                <div class="post-thumb">
                    <a :href='"/detail?id="+bean.content.id' >
                        <img :data-src="bean.content.firstImg"  class="lazyload">
                    </a>
                </div>
                <!-- 文章 -->
                <div class="post-content-wrapper">
                    <div class="post-content">
                        <!-- 时间 -->
                        <div class="post-date">
                            发布于 {{bean.content.modified | formatDateFilter}}
                        </div>
                        <!-- 标题 -->
                        <a :href='"/detail?id="+bean.content.id' >
                            <h3>{{bean.content.title}}</h3>
                        </a>
                        <!-- 标签 -->
                        <div class="post-meta">
                            <span>-- 热度</span>
                            <span v-for="tag in bean.tag"><a :href="'/indexByTag?tid='+tag.tagId">{{tag.tagName}}</a></span>
                        </div>
                        <!-- 内容 -->
                        <div class="content">
                            <p>{{bean.content.articleAbstract}}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>