<!-- 首页顶部大图片容器 -->
<div th:fragment="html" >
    <!-- 首页顶部大图片容器 -->
    <div class="head-content-container">

        <!-- 头像，个签，联系方式 -->
        <div class="content-wrapper hidden-xs">
            <div class="content">
                <!-- 头像 -->
                <div class="head-img">
                    <a href="https://www.baidu.com/s?wd=%E6%9C%9D%E6%AD%A6%E8%8A%B3%E4%B9%83%E5%A4%A9%E4%B8%8B%E7%AC%AC%E4%B8%80&rsv_spt=1&rsv_iqid=0x88e85fb900119ebb&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&tn=baiduhome_pg&rsv_enter=1&rsv_dl=tb&rsv_sug3=25&rsv_sug1=16&rsv_sug7=101&rsv_sug2=0&rsv_btype=i&inputT=7942&rsv_sug4=7942">
                        <img :src="user.profilePicture" alt="头像">
                    </a>
                </div>
                <!-- 个签 -->
                <div class="head-info">
                    <p>{{user.signature}}</p>
                    <!-- <p>rurudo是神</p> -->
                </div>
                <!-- 联系方式 -->
                <div class="link-wrapper">
                    <ul class="link">
                        <li><a href="#nowhere"><img src="img/qq.png" alt=""></a></li>
                        <li><a href="#nowhere"><img src="img/wechat.png" alt=""></a></li>
                        <li><a href="#nowhere"><img src="img/email.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 背景图片 -->
        <!-- 移动 -->
        <div class="m-video-container visible-xs">
            <div class="m-bg-img"></div>
        </div>
        <!-- pc -->
        <div class="video-container hidden-xs">
            <div class="bg-img" id="div1" :style="beans.key"></div>
        </div>


        <!-- 移动端下面的圆弧 -->
        <!-- <div class="circle visible-xs">

    </div> -->
    </div>


<!--    <canvas id="background" class="background-home-absolute"></canvas>-->

    <!-- ------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- 首页中间文章 -->
    <div class="article-wrapper" v-lazy-container="{ selector: 'img' }">
        <div id="content" class="home-content">

            <h3>
                <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;&nbsp;最近更新
            </h3>

            <!--aos-once="false"-->
            <article class="yh-translucent-article" aos="fade-up"  v-for="bean in beans">
                <!-- 标题 -->
                <h3 class="yh-lighting-title">
                    <a :href='"/detail?id="+bean.content.id'>
                        <span>
                            {{bean.content.title}}
                        </span>
                    </a>
                </h3>
                <!-- 标签 -->
                <div class="yh-thumb-tag">
                    <span><i class="fa fa-calendar"></i>&nbsp;{{bean.content.modified | formatDateFilter}}</span>
                    <span><i class="fa fa-eye"></i>&nbsp;--</span>
                    <span v-for="tag in bean.tag"><a :href="'/indexByTag?tid='+tag.tagId"><i class="fa fa-tag"></i>&nbsp;{{tag.tagName}}</a></span>
                </div>
                <!-- 图片 -->
                <div class="yh-pic">
                    <a :href='"/detail?id="+bean.content.id'>
                        <img :data-src="bean.content.firstImg" class="lazyload">
                        <div class="hidden-xs">
                            <p>{{bean.content.articleAbstract}}</p>
                        </div>
                    </a>
                </div>
                <!-- 内容 -->
                <div class="yh-content visible-xs">
                    <p>{{bean.content.articleAbstract}}</p>
                </div>


            </article>
        </div>
    </div>
</div>